<div>
	<%- include('partials/nav') %>
	<div class="dropdown-menu">
		fad
	</div>
	<%- include('partials/video-modal')%>
	<%- include('partials/image-modal')%>
	<%- include('partials/blurb-modal')%>
	<div class="row mt-5 md-5 font-weight-light">
		<div class="col col-sm-0 col-md-3 col-lg-2"></div>
		<div class="col col-sm-12 col-md-6 col-lg-8">
			<h5 class="text-center">Hey <%= user.username %>, what's on your mind?</h5>
			<h6 class="mb-3 text-center font-weight-normal">Why not publish something great.</h6>
			<div class="pl-5 pr-5">
				<div class="post-options row text-center">
					<div class="col post-option" data-toggle="modal" data-target="#blurb-modal"><i
							class="fas fa-comment-dots fa-2x"></i><br><small>blurb</small></div>
					<div class="col post-option" data-toggle="modal" data-target="#image-modal"><i
							class="fas fa-image fa-2x"></i><br><small>image</small></div>
					<div class="col post-option" data-toggle="modal" data-target="#video-modal"><i
							class="fas fa-video fa-2x"></i><br><small>video</small></div>
				</div>
			</div>
			<hr>
		</div>
		<div class="col col-sm-0 col-md-3 col-lg-2"></div>
	</div>
	<div class="row mt-5 md-5 font-weight-light">
		<div class="col-sm-12 col-md-4 col-lg-3 pl-5 explore-section" >
			<h6>Explore</h6>
			<input class="form-control mr-sm-2" type="search" id="search-bar" placeholder="Search" aria-label="Search">
			<div class="options">

			</div>
		</div>
		<div class="col-sm-12 col-md-8 col-lg-9 pr-5 pl-5 timeline-section">
			<h6 class="text-center">Timeline</h6>
			<div class="feed mt-5 mb-5">
				<% user.posts.forEach(function(post) { %>
					<div class="card mb-3">
						<% if (post.type == 'image') { %>
							<img src="<%= post.image %>" class="card-img-top" alt="img">
						<% } %>
						<% if (post.type == 'video') { %>
							<video controls>
								<source src="<%= post.video %>">
								Your browser does not support the video tag.
							</video>
						<% } %>
						<div class="card-body row">
							<div class="col col-sm-12 col-md-10">
								<blockquote class="blockquote card-text">
									<p class="mb-0"><%= post.blurb %></p>
									<footer class="blockquote-footer"><%= user.username %></footer>
								</blockquote>
							</div>
							<div class="col col-sm-12 col-md-2">
								<h6 class="text-right"><img src="<%= user.picture %>" alt="Avatar" class="avatar mr-3"></h6>
							</div>
							
							<p class="card-text"></p>
						</div>
					</div>
				<% }); %>
			</div>
			<hr>
			<div class="feed-end text-center font-weight-lighter mt-3">
				<span>End of feed.</span>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#search-bar").on('input',function() {
			$('.options').html("")
			const searchText = $("#search-bar").val();
			if (searchText == '') return;
			$.ajax({
				type: "POST",
				url: "/api/search-users",
				data: {
					searchText: searchText
				}
			})
			.done(function(data) {
				console.log(data);
				data.matches.forEach(function(match){
					$('.options').prepend($("<a href='/u/"+match._id+"' class='match-link'><div class='card'><div class='card-body'><p class='card-text text-left'><img src='" + match.picture +"' alt='Avatar' class='avatar mr-3'>"+match.username+"</p></div></div></a>"))
				});
			})
			.fail(function(err) {
				alert('server error!'+err)
			});
		});
	});
</script>

<style>
	#search-bar {
		width: 100%
	}
	.explore-section {
		border-right: 1px solid rgba(0,0,0,0.1);
	}
	.match-link {
		text-decoration: none!important;
		color: black;
	}
	video {
 		width: 100%    !important;
  		height: auto   !important;
		max-height: 50vh !important;
	}
	.avatar {
		vertical-align: middle;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
	.post-options {
		border: 1px solid grey;
		border-radius: 5px;
	}
	.post-option {
		border-right: 1px solid grey;
		cursor: pointer;
		padding: 0.5em 0em 0.5em 0em;
	}
	.post-option:last-child {
		border-right: none;
		border-radius: 5px;
	}
	.post-option:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.post-option:hover {
		background-color: rgb(255, 249, 241);
	}
</style>