<%- include('partials/followers-modal') %>
<%- include('partials/following-modal') %>
<div class="row page">
	<div class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 section">
		<%- include('partials/nav') %>
	</div>
	<div class="col col-xs-12 col-sm-12 col-md-9 col-lg-6 section">
		<!-- post box -->
		<div class="user-field">
			<div class="create-section">
				<div class="pt-3 pl-3 pr-3 pb-3">
					<div class="row">
						<div class="col-4">
							<img src="<%= profile.picture %>" alt="avatar" class="avatar-lg">
						</div>
						<div class="col">
							<div class="flex" style="height: 100%;">
								<h3><%= profile.username %></h3>
								<div class="mb-3">
									<h6 id="followers-modal-toggle" class="follow-metrics text-center"><%= followers.length %> Followers</h6>
									<h6 id="followees-modal-toggle" class="follow-metrics text-center"><%= followees.length %> Following</h6>
								</div>
								<% if (user._id.toString() != profile._id.toString()) { %>
									<% if (following) { %>
										<button id="unfollow-button" class="btn btn-success follow-button">Unfollow</button>
									<% } else { %>
										<button id="follow-button" class="btn btn-outline-success follow-button">Follow +</button>
									<% } %>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('partials/feed') %>
	</div>
</div>
<input type='hidden' id='profileId' value='<%= profile._id %>' />

<script>
	$(document).ready(function() {
		const profileId = $('#profileId').val();

		// show followers
		$('#followers-modal-toggle').on('click', function() {
			// toggle modal
			$('#followers-modal').modal('toggle');
		});

		// show following
		$('#followees-modal-toggle').on('click', function () {
			// toggle modal
			$('#followings-modal').modal('toggle');
		});

		// follow
		$('#follow-button').on('click', function() {
			$.ajax({
				type: 'POST',
				url: '/api/follow',
				data: {
					user: profileId
				}
			})
			.done(function() {
				window.location.reload();
			})
			.fail(function(err) {
				alert(err);
			})
		});
		// unfollow
		$('#unfollow-button').on('click', function () {
			$.ajax({
				type: 'POST',
				url: '/api/unfollow',
				data: {
					user: profileId
				}
			})
			.done(function () {
				window.location.reload();
			})
			.fail(function (err) {
				alert(err);
			})
		});

	});
</script>

<style>
	.follow-metrics {
		color: #4582EC;
		font-size: 0.9em;
		cursor: pointer;
	}
	.follow-button {
		width: 75%;
	}
</style>